/* CSS used for visualised classes (Found in class lists) */   

.classContainer { 
    width: 90w;
    min-width: 380px; 
    margin-top: 2vh; 
}


.classHideShowHeader {
    padding: 0.5vh 3%; 
    border: 2px solid; 
    box-sizing: border-box; 
    width: 70vw; 
    display: inline-block;
    cursor: pointer;
}

.classHideShowHeader div, .classHideShowHeader input { 
    font-family: Arial, Helvetica, sans-serif; 
    display: inline-block;
    vertical-align: middle; 
    box-shadow: none; 
}

.classNameChange {
    font-size: 1.6em; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 59%; 
}

.classColourChange { 
    box-sizing: border-box; 
    border:  2px solid;
    background: none;
    padding: 0px;
    margin: 0px; 
    width: 8%; 
}

#classColourWrapper{
    margin-left: 2vw;
    vertical-align: middle; 
}

#classColourInput {
    border: none; 
    background: none; 
    margin-left: 1vw; 
    padding: 0;
    vertical-align: middle;
}

#classColourInputLabel {
    vertical-align: middle;
}

.instructionText {
    text-align: right; 
    font-size: 1em; 
}

.instructionTextWrapper {
    width: 30%; 
    text-align: right;
}
.instructionTextWrapper img {
    width: 10%; 
    margin-left: 1vw; 
    vertical-align: middle;
    transform: scaleY(-1);
}

.classHideShowContents {
    box-sizing: border-box;  
    padding: 1vh 5%; 
    border: 2px solid;
    width: 70vw;  
    border-top: none; 
    display: block; 
}

.classTable {
    color: #636363; 
    font-size: 1.2em; 
    width: 100%; 
}

.classTable td, .classTable th {
    text-align: center;
}

.classTable th {
    font-weight: bold; 
}

.classTable td, table th {
border: 2px solid #a6a6a6;
}

/* Removing all outer borders */ 
.classTable {
    border-collapse: collapse;
}
.classTable tr:first-child th {
border-top: 0;
}
.classTable tr:last-child td {
border-bottom: 0;
}
.classTable tr td:first-child,
.classTable tr th:first-child {
border-left: 0;
}
.classTable tr td:last-child,
.classTable tr th:last-child {
border-right: 0;
}

@media(max-width: 760px) {
    #classDetails > div {
        display: block; 
    }
    #classColourWrapper {
        margin-top: 2vh; 
        margin-left: 0px; 
    }
}

@media(max-width: 840px) { 
    .classNameChange {
        width: 48%; 
    }

    .instructionTextWrapper {
        width: 40%; 
    }
}

@media(max-width: 625px) {
    .instructionText {
        display: none; 
    }

    .classNameChange {
        width: 65%; 
    }

    .instructionTextWrapper {
        width: 20%; 
    }

    .instructionTextWrapper img {
        width: 30%; 
    }
}